html, body {
  height: 100%;
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

.jumbotron{
  background-color: #9a529b;
  align-content: center;
  color: white;
}


/*Link Formatting*/
a{
  color: lightcyan;
  text-decoration: none;
}
a:hover {
  color: lightblue;
  text-decoration: none
}
a:visited {
  color: lightskyblue;
}

p{
  font-size: 15px;
}

ul {
  list-style-type: circle;
  font-size: 15px;
}

img{
  margin: 10px auto 20px;
  display: block;
}

.carousel-control-prev, .carousel-control-next{
  background-color: black;
}
